
// $visual-grid: true;
$visual-grid-color: red;

@import "bourbon";
@import "neat";

// == global variables
$purple: #5f259f;
$gray: #e5e5e5;
$black: #060808;

// == default styles

#{$all-text-inputs} {
  border: rem(2) solid $gray;
  border-radius: rem(5);
  font-size: rem(20);
  padding: rem(5) rem(15);
  font-weight: bold;
  // text-transform: uppercase;
}
#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  // border: 1px solid #0f0;
}
#{$all-text-inputs-active} {
  // border: 1px solid #00f;
}
#{$all-buttons} {
  // background-color: #f00;
  font-size: rem(21);
}
#{$all-buttons-focus},
#{$all-buttons-hover} {
  // background-color: #0f0;
}
#{$all-buttons-active} {
  // background-color: #00f;
}

ul,ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}
h2 {
  margin-top:2em;
  margin-bottom:0.5em;
}

.result-title {
  font-size:1.2rem;
  a {
    text-decoration: underline;
  }
}
.result-body {
  color:#333;
  margin-top: 0.5rem;
}
.result-url {
  color: green;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

// == breakpoints

$medium-up: rem(480);

.outer-container-padding {
  padding:rem(10);
  @include media($medium-up) {
    padding:0;
  }
}

// slick styling

$slick-button-offset: -5;
$slick-button-radius: 5;

.slick-arrow, .slick-arrow:focus {
  background:$purple;
  height:100%;
  width:rem(30);
  z-index:10;
  &:hover {
    background:$black;
  }
  &.slick-next {
    padding-right:rem(10);
    border-top-right-radius: rem($slick-button-radius);
    border-bottom-right-radius: rem($slick-button-radius);
    right:rem($slick-button-offset);
  }
  &.slick-prev {
    padding-left:rem(10);
    border-top-left-radius: rem($slick-button-radius);
    border-bottom-left-radius: rem($slick-button-radius);
    left:rem($slick-button-offset);
  }
}
