@import "bourbon";
@import "neat";

// == global variables
$purple: #5f259f;
$gray: #e5e5e5;

// == default styles

#{$all-text-inputs} {
  border: rem(2) solid $gray;
  border-radius: rem(5);
  font-size: rem(20);
  padding: rem(5) rem(15);
  font-weight: bold;
  // text-transform: uppercase;
}
#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  // border: 1px solid #0f0;
}
#{$all-text-inputs-active} {
  // border: 1px solid #00f;
}
#{$all-buttons} {
  // background-color: #f00;
  font-size: rem(22);
}
#{$all-buttons-focus},
#{$all-buttons-hover} {
  // background-color: #0f0;
}
#{$all-buttons-active} {
  // background-color: #00f;
}

ul,ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}

// == breakpoints

$mobile: rem(480);

// slick styling

.slick-arrow, .slick-arrow:focus {
  background:shade($gray, 60%);
  height:100%;
  width:rem(40);
  opacity: 0.5;
  z-index:1000;
  &:hover {
    background:shade($gray, 80%);
  }
  &.slick-next {
    padding-right:rem(10);
    right:rem(-35);
  }
  &.slick-prev {
    padding-left:rem(10);
    left:rem(-35);
  }
}
